body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.modelos {
    margin-top: 20px;
}

#selectModelo {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#btnCargarModelo {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#btnCargarModelo:hover {
    background-color: #0056b3;
}
